@media screen and (min-width: 1024px) {
  .ea-login {
    min-height: 100vh;
  }
}

.ea-login__wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.ea-login__section {
  flex: 1;
}

.ea-login__right {
  padding: 40px 70px;
}

@media screen and (max-width: 768px) {
  .ea-login__right {
    padding: 20px;
  }
}

.ea-login__right__header {
  margin-top: 65px;
}

@media screen and (max-width: 768px) {
  .ea-login__right__header {
    margin-top: 25px;
  }
}

.ea-login__right__head {
  text-transform: capitalize;
  letter-spacing: -1px;
}

.ea-login__right__desc {
  margin-top: 7px;
  color: var(--grayscale-text1);
}

.ea-login__separator {
  width: 100%;
  height: 0.5px;
  margin: 20px 0;
  background: var(--gray-300);
}

.ea-login__check__forgot {
  display: flex;
  justify-content: space-between;
}

.ea-login__link {
  text-transform: capitalize;
}

.ea-login__signup {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--grayscale-text1);
}

.ea-login__signup__link {
  text-transform: capitalize;
  color: var(--mid-blue);
}



.ea-login__left {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0 0 70px;
  background: url('./images/web-login-banner.svg');
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .ea-login__left {
    min-height: 238px;
    padding: 20px;
    background: url('./images/mweb-login-banner.svg');
    background-size: cover;
  }
}

.ea-login__banner__left {
  max-width: 500px;
}

.ea-login__banner__right {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 350px;
  height: 460px;
}

.ea-login__backBtn {
  display: none;
}



@media screen and (max-width: 768px) {
  .ea-login__banner__right {
    width: 170px;
    height: 220px;
    right: 0;
  }

}

.ea-login__banner__player {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  color: transparent;
}



.ea-login__back {
  text-transform: capitalize;
  color: var(--white);
}

.ea-login__head {
  letter-spacing: -1px;
  color: var(--white);
  margin: 70px 0 30px;

  font-size: 48px;
  line-height: 62px;
  font-family: var(--regular-ff-sec);
}

@media screen and (max-width: 768px) {
  .ea-login__head {
    margin: 0 0 10px;
    max-width: 230px;
    letter-spacing: initial;
    font-size: 20px;
    line-height: 26px;
    font-family: var(--regular-ff-sec);
  }
}

.ea-pointers__container {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

@media screen and (max-width: 768px) {
  .ea-pointers__container {
    gap: 5px 0;
  }
}

.ea-pointers__item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: var(--white);
}

.ea-pointers__item img {
  width: 10px;
  height: 10px;
}

.ea-pointers__item p {
  font-size: 10px;
  line-height: 16px;
  font-family: var(--regular-ff);
  font-weight: 400;
}



.ea-input__wrap {
  margin-bottom: 14px;
  flex: 1;
}

.ea-input__label {
  text-transform: capitalize;
  color: var(--grayscale-text2);
}

.ea-input__box {
  width: 100%;
  height: 48px;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--grayscale-text2);
}

.ea-input__box::placeholder {
  color: var(--grayscale-text2);
}

.ea-input__box:focus-visible {
  outline: none;
}

.ea-input__box__wrap {
  position: relative;
}

.ea-input__box__btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

.ea-input__error {
  color: var(--error-600);
}

.ea-input__verified {
  border: 1px solid var(--success-700);
}



.ea-checkbox__wrap {
  display: flex;
  align-items: flex-start;
}

.ea-checkbox__label {
  text-transform: capitalize;
  color: var(--grayscale-text2);
  margin-top: -5px;
}

.ea-checkbox__box {
  border-radius: 8px;
  margin-right: 8px;
  border: 1px solid var(--grayscale-text2);
}

.ea-checkbox__box::placeholder {
  text-transform: capitalize;
  color: var(--grayscale-text2);
}

.ea-checkbox__mandatory {
  color: var(--error-600);
}

.ea-loginHead__wrap {
  position: relative;
  padding: 10px 0;
  background: var(--dark-blue-2);
  display: flex;
  justify-content: center;
}

.ea-loginHead__backIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.ea-login__logo {
  display: none;
}

.button_ea-login__btn,
.button_ea-forgot__btn,
.button_ea-reg__btn {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  margin: 20px 0;
}

.button_ea-btn:not(.button_ea-disabled) {
  cursor: pointer;
}



@media screen and (min-width: 768px) {

  .ea-login__backBtn {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }

  .ea-loginHead__wrap {
    display: none;
  }


  .ea-login__logo {
    display: block;
  }

  .ea-pointers__item img {
    width: 18px;
    height: 18px;
  }

  .ea-pointers__item p {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--medium-ff);
    font-weight: 600;
  }


}